@import "../../initialStyle";
.ayah-card {
  @include card-box;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  .surah {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;

    .number-surah {
      background-color: $color-1;
      color: $color-5;
      font-size: $h11;
      display: grid;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      place-items: center;
    }

    .text-ayah {
      font-family: "Lateef";
      font-style: normal;
      font-weight: normal;
      font-size: $h10;
      line-height: 69px;
      text-align: right;
      width: 80%;
    }
  }
  .text-translate {
    .text-transliteration {
      color: $color-2;
      font-style: normal;
      font-weight: 300;
      font-size: $h5;
      margin-bottom: 10px;
      line-height: 21px;
    }

    .text-translation {
      font-weight: normal;
      font-size: $h9;
      line-height: 27px;
      color: $color-1;
    }
  }
}

// Mobile
@media (max-width: 575.98px) {
  .ayah-card {
    padding: 30px;
    margin-bottom: 30px;
    .surah {
      margin-bottom: 41px;

      .number-surah {
        font-size: $h11 - 2;
        width: 30px;
        height: 30px;
      }

      .text-ayah {
        font-size: $h10 - 8;
        line-height: normal;
        width: 80%;
      }
    }
    .text-translate {
      .text-transliteration {
        font-size: $h5 - 2;
        margin-bottom: 10px;
        line-height: normal;
      }

      .text-translation {
        font-size: $h9 - 3;
        line-height: normal;
      }
    }
  }
}
