@import "../../initialStyle";
#no-match-desktop {
  position: relative;
  background-color: #90d0d5;
  img {
    width: 100%;
  }
  .title {
    position: absolute;
    top: 140px;
    left: 578px;
    z-index: 4;
    .title-box {
      h1 {
        color: #ffffff;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
      }

      p {
        color: #ffffff;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
      }

      .MuiButtonBase-root {
        border-radius: 8px;
        padding: 13px 16px;
        font-family: Poppins;
        &.MuiButton-containedSecondary {
          background-color: #a87cd3;
        }
      }
    }
  }
}
@media (max-width: 1199.98px) {
  #no-match {
    #title {
      top: 485px;
      left: 382px;
    }
  }
}
