@import "../../initialStyle";
#featured-asmaulhusna {
  .asmaul-card {
    @include card-box;
    text-align: center;
    padding: 20px;

    .text {
      font-family: Lateef;
      font-style: normal;
      font-weight: normal;
      font-size: $text-size-arab-1;
      line-height: 93px;
    }

    .textTransliteration {
      font-style: normal;
      font-weight: 500;
      font-size: $h4;
      line-height: 27px;
      color: #3e8a8e;
      margin-bottom: 8px;
    }

    .textTranslation {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: $h5;
      line-height: 15px;
    }
  }
}

// Mobile
@media (max-width: 575.98px) {
  #featured-asmaulhusna {
    .asmaul-card {
      .text {
        font-size: 10vw;
      }

      .textTransliteration {
        font-size: 4.5vw;
        line-height: 27px;
      }

      .textTranslation {
        font-size: 3.5vw;
        line-height: 15px;
      }
    }
  }
}
