@import "../../initialStyle";
#featured-asmaulhusna {
  .asmaul-card {
    @include card-box;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    text-align: center;
    .text {
      font-family: Lateef;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 93px;
    }

    .textTransliteration {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      color: #3e8a8e;
    }

    .textTranslation {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 15px;
    }
  }
}
