@import "../../initialStyle";

#navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  #logo-brand {
    color: $color-2;
    flex-grow: 1;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: $h3;
    line-height: 36px;
    span {
      color: $color-1;
    }
  }

  #back-to-home {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-2;
      font-size: $h3;
      span {
        font-size: $h2;
      }
      &:hover {
        color: $color-1;
      }
    }
  }
}
