@import "../../initialStyle";

#navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  #logo-brand {
    flex-grow: 1;
    img {
      width: 168px;
    }
  }

  #back-to-home {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-2;
      font-size: $h3;
      span {
        font-size: $h2;
      }
      &:hover {
        color: $color-1;
      }
    }
  }
}
