@import "../../initialStyle";

section#jumbotron-header {
  .jumbotron-header-inner {
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 82px;
    .tex-box {
      h1 {
        font-weight: bold;
        font-size: $h1;
        margin: 0;
        font-style: normal;
        line-height: 81px;

        span {
          color: $color-1;
        }
      }

      p {
        color: $color-4;
        margin-top: 15px;
        margin-bottom: 39px;
        font-size: $h5;
      }
    }
    .MuiButton-root {
      border-radius: 8px;
      background-color: #ff4f4f;
      font-size: $h5;
      padding: 9px 14px;
    }

    svg#hero-image {
      width: 100%;
      height: auto;
      margin-top: -70px;
    }
  }
}

// Medium devices (tablets, 768px and down)
@media (max-width: 1199.98px) {
  section#jumbotron-header {
    .jumbotron-header-inner {
      padding: 42px 0;
      .tex-box {
        h1 {
          font-size: $h1 - 15;
          line-height: 50px;
        }

        p {
          margin-top: 10px;
          margin-bottom: 29px;
          font-size: 12px;
        }
      }

      .MuiButton-root {
        font-size: $h5 - 5;
      }

      svg#hero-image {
        margin-top: -30px;
      }
    }
  }
}

// Mobile
@media (max-width: 575.98px) {
  section#jumbotron-header {
    .jumbotron-header-inner {
      padding: 42px 0 0 0;
      .tex-box {
        h1 {
          font-size: 7vw;
          line-height: 35px;
        }

        p {
          margin-top: 10px;
          margin-bottom: 39px;
          font-size: 3.5vw;
        }
      }

      .MuiButton-root {
        font-size: 3.5vw;
      }

      svg#hero-image {
        margin-top: 0px;
      }
    }
  }
}
