@import "../../initialStyle";

section#jumbotron-header {
  .jumbotron-header-inner {
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 82px;

    .MuiButton-root {
      border-radius: 8px;
      background-color: #ff4f4f;
      font-size: 16px;
      padding: 9px 14px;
    }

    svg#hero-image {
      width: 100%;
      height: auto;
      margin-top: -70px;
    }

    .tex-box {
      h1 {
        font-weight: bold;
        font-size: $h1;
        margin: 0;
        font-style: normal;
        line-height: 81px;

        span {
          color: $color-1;
        }
      }

      p {
        color: $color-4;
        margin-top: 15px;
        margin-bottom: 39px;
      }
    }
  }
}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  section#jumbotron-header {
    .jumbotron-header-inner {
      padding: 42px 0;
    }

    .tex-box {
      h1 {
        font-size: $h1/2 !important;
        line-height: normal !important;
      }
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  section#jumbotron-header {
    .jumbotron-header-inner {
      svg#hero-image {
        height: auto;
        margin-top: 0px;
      }
    }
  }
}
