@import "../../initialStyle";
.ayah-card-skeleton {
  @include card-box;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  .surah {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;

    .number-surah {
      width: 40px;
      height: 40px;
    }

    .text-ayah {
      width: 30%;
    }
  }
  .text-translate {
    .text-transliteration {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 575.98px) {
  .ayah-card-skeleton {
    .surah {
      margin-bottom: 41px;

      .number-surah {
        width: 30px;
        height: 30px;
      }

      .text-ayah {
        width: 30%;
      }
    }
    .text-translate {
      .text-transliteration {
        margin-bottom: 10px;
      }
    }
  }
}
