@import "../../initialStyle";

section#about {
  text-align: center;
  padding: 143px 0;
  background: url(../../assets/images/aboutbackground.svg);
  background-size: 100%;
  height: 600px;
  background-repeat: no-repeat;
  padding-top: 7px;
  .inner {
    p {
      &:first-child {
        font-size: $h3;
        color: $color-4;
        font-weight: 600;
        line-height: 24px;
      }

      &:last-child {
        font-size: $h5;
        color: $color-6;
        font-weight: 600;
        line-height: 30px;
      }
    }

    img {
      margin-bottom: 12px;
      margin-top: 5px;
    }
  }
}
// Medium devices (tablets, 768px and down)
@media (max-width: 1199.98px) {
  section#about {
    padding: 0;

    height: 350px;
    .inner {
      p {
        &:first-child {
          font-size: $h3 - 6;
        }

        &:last-child {
          font-size: $h5 - 4;
          color: $color-6;
          font-weight: 600;
          line-height: 30px;
        }
      }

      img {
        width: 250px;
      }
    }
  }
}
// Mobile
@media (max-width: 575.98px) {
  section#about {
    background: url(../../assets/images/aboutBackgroundMobile.svg);
    height: 400px;
    .inner {
      padding-top: 52px;

      p {
        &:first-child {
          font-size: $h3 - 6;
        }

        &:last-child {
          font-size: $h5 - 4;
          color: $color-6;
          font-weight: 600;
          line-height: 30px;
        }
      }

      img {
        width: 250px;
      }
    }
  }
}
