@import "../../initialStyle";

section#about {
  text-align: center;
  flex-direction: column;
  background-image: url(../../assets/images/aboutbackground.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 100px;
  height: 350px;

  .inner {
    p {
      &:first-child {
        font-size: $h3;
        color: $color-4;
        font-weight: 600;
        line-height: 24px;
      }

      &:last-child {
        font-size: $h5;
        color: $color-6;
        font-weight: 600;
        line-height: 30px;
      }
    }

    h1 {
      font-size: $h1;
      color: $color-1;
      font-weight: 600;
      line-height: 81px;
      margin-bottom: 31px;
      margin-top: 5px;
    }
  }
}
