#audio-surah-mobile {
  width: 100%;

  .rhap_container {
    padding-top: 30px;
    .rhap_header {
      text-align: center;
    }
    .rhap_volume-indicator {
      background-color: #3e8a8e;
    }
  }
}
