@import "../../initialStyle";

#playListBar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  //Audio Surah
  button {
    color: #3e8a8e;
    svg {
      fill: #3e8a8e;
    }
  }

  .rhap_container {
    .rhap_header {
      text-align: center;
    }
    .rhap_progress-section {
      .rhap_progress-container {
        .rhap_progress-indicator {
          background-color: #3e8a8e;
        }
        .rhap_progress-filled {
          background-color: #3e8a8e;
        }
      }

      .rhap_volume-container {
        .rhap_volume-indicator {
          background-color: #3e8a8e;
        }
      }
    }

    .rhap_controls-section {
      .rhap_main-controls {
        .rhap_main-controls-button {
          svg {
            fill: #3e8a8e;
          }
        }
      }
    }
  }
}
